/* .container{
    max-width: 50%;
    margin: 5rem auto;
} */


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 50%;
}

.form-width{
    max-width: 50%;
    margin: auto;
}

.btn-center{
    max-width: auto;
    margin: auto;
    
}
.main-heading{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}